/* Mobile Animations */
@keyframes blink {
    0% {
        opacity: 0;
    }
    49% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.nav-link:active,
.nav-link:hover {
    color: var(--supportingColor);
}

.active,
.skill:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transform: scale(1.2);
}

.send-button:active {
    background-color: var(--activeColor);
}

/* Animations */
@keyframes hide-left {
    11% {
        transform: translateX(0);
    }
    33% {
        transform: translateX(-1.65em);
        transform-origin: left;
    }
    75% {
        transform: translateX(-1.65em);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes show-left {
    0% {
        color: var(--headerFontColor);
    }
    48% {
        transform: translateX(5.1em);
        transform-origin: left;
        color: var(--headerFontColor);
    }
    81% {
        transform: translateX(5.1em);
        color: var(--headerFontColor);
    }
    100% {
        transform: translateX(5.1em);
        color: var(--supportingColor);
    }
}
