/* START Fonts */

/* roboto-mono-regular - latin */
@font-face {
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/files/fonts/roboto-mono-v13-latin-regular.eot"); /* IE9 Compat Modes */
    src: local(""),
        url("/files/fonts/roboto-mono-v13-latin-regular.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */ url("/files/fonts/roboto-mono-v13-latin-regular.woff2")
            format("woff2"),
        /* Super Modern Browsers */
            url("/files/fonts/roboto-mono-v13-latin-regular.woff")
            format("woff"),
        /* Modern Browsers */
            url("/files/fonts/roboto-mono-v13-latin-regular.ttf")
            format("truetype"),
        /* Safari, Android, iOS */
            url("/files/fonts/roboto-mono-v13-latin-regular.svg#RobotoMono")
            format("svg"); /* Legacy iOS */
}

/* roboto-300 - latin */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("/files/fonts/roboto-v29-latin-300.eot"); /* IE9 Compat Modes */
    src: local(""),
        url("/files/fonts/roboto-v29-latin-300.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */ url("/files/fonts/roboto-v29-latin-300.woff2")
            format("woff2"),
        /* Super Modern Browsers */
            url("/files/fonts/roboto-v29-latin-300.woff") format("woff"),
        /* Modern Browsers */ url("/files/fonts/roboto-v29-latin-300.ttf")
            format("truetype"),
        /* Safari, Android, iOS */
            url("/files/fonts/roboto-v29-latin-300.svg#Roboto") format("svg"); /* Legacy iOS */
}

/* roboto-regular - latin */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/files/fonts/roboto-v29-latin-regular.eot"); /* IE9 Compat Modes */
    src: local(""),
        url("/files/fonts/roboto-v29-latin-regular.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */ url("/files/fonts/roboto-v29-latin-regular.woff2")
            format("woff2"),
        /* Super Modern Browsers */
            url("/files/fonts/roboto-v29-latin-regular.woff") format("woff"),
        /* Modern Browsers */ url("/files/fonts/roboto-v29-latin-regular.ttf")
            format("truetype"),
        /* Safari, Android, iOS */
            url("/files/fonts/roboto-v29-latin-regular.svg#Roboto")
            format("svg"); /* Legacy iOS */
}

/* END Fonts */

/* Mobile Animations */
@keyframes blink {
    0% {
        opacity: 0;
    }
    49% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.nav-link:active,
.nav-link:hover {
    color: var(--supportingColor);
}

.active,
.skill:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transform: scale(1.2);
}

.send-button:active {
    background-color: var(--activeColor);
}

/* Animations */
@keyframes hide-left {
    11% {
        transform: translateX(0);
    }
    33% {
        transform: translateX(-1.65em);
        transform-origin: left;
    }
    75% {
        transform: translateX(-1.65em);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes show-left {
    0% {
        color: var(--headerFontColor);
    }
    48% {
        transform: translateX(5.1em);
        transform-origin: left;
        color: var(--headerFontColor);
    }
    81% {
        transform: translateX(5.1em);
        color: var(--headerFontColor);
    }
    100% {
        transform: translateX(5.1em);
        color: var(--supportingColor);
    }
}
