

.about {
    min-height: fit-content;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.about h1 {
    width: 80vw;
    margin: 0;
    padding-bottom: .15em;
    margin-bottom: .5em;
    border-bottom: 2px solid var(--supportingColor);
}

.title {
    width: 80vw;
    margin: 0;
    padding-bottom: .15em;
    margin-bottom: .5em;
    border-bottom: 2px solid var(--supportingColor);  
}

.about p {
    margin: 0;
    padding: 0;
    width: 80vw;
    font-size: 1.5em;
}



/* Skills Section */
.skills {
    background: url("../files/schematic-vertical.webp") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.skills-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-family: 'Roboto';  
}

.top-arrow {
    height: 4vw;
    width: 100%;
    background-image: url('../files/white-arrow.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.content {
    margin: 50px 0;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-section {
    display: grid;
    width: 100%;
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: min-content;
    margin: 30px 0;
    padding: 10px;
    transition: all .25s ease-in-out;
}

.active,
.skill:hover {
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    transform: scale(1.2);
}

.skill-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    width: 6em;
}

.skill-bar {
    width: 10em;
    height: 0.5em;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

.skill-progress {
    background-color: var(--supportingColor);
    height: 1em;
}
.bottom-arrow {
    height: 4vw;
    width: 100%;
    background-image: url('../files/transparent-arrow.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.projects-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 80vw;
}

.project {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-content: center;
    justify-content: center;

    width: 400px;
    height: 600px;
    overflow: hidden;
    border-radius: 20px;
    background-color: black;
    background-size: cover;

    color: white;
    text-decoration: none;
    margin: 30px 0;
}

.consortium {
    background-image: url(../files/projects/consortium/Consortium.webp);
}

.tip-calculator {
    background-image: url(../files/projects/tip-calculator/Tip-Calculator.webp);
}

.order-summary {
    background-image: url(../files/projects/order-summary/Order-Summary.webp);
}

.project-info {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.project-title {
    font-size: 2em;
    width: 80%;
    border-bottom: 1px solid var(--supportingColor);
    margin: 10px 0;
}

.project-description {
    font-weight: 300;
    font-size: 1.2em;
    margin-bottom: 15px;
    width: 80%;
}


/* Start of footer */
footer{
    background-color: black;
    color: white;
}

/* End of mobile CSS */

/* Desktop Animations */
@keyframes hide-left {
    11% {
        transform: translateX(0);
      }
    33% {
        transform: translateX(-1.65em);
        transform-origin: left;
    }
    75%{
        transform: translateX(-1.65em);
    }
    100%{
        transform: translateX(0);
    }


}

@keyframes show-left {
    0% {
        color: var(--headerFontColor);
    }
    48% {
        transform: translateX(5.1em);
        transform-origin: left;
        color: var(--headerFontColor);
    }
    /* 66% {
        transform: translateX(90.5px);
        color: red;  
    } */
    81% {
        transform: translateX(5.1em);
        color: var(--headerFontColor);
    }
    100% {
        transform: translateX(5.1em);
        color: var(--supportingColor);
    }

}

@media (max-width: 450px) {
    .project {
        width: 90vw;
    }
}
