@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

:root {
    --strong-cyan: hsl(172, 67%, 45%);
    --dark-cyan: hsl(183, 100%, 15%);
    --darker-grayish-cyan: hsl(186, 14%, 43%);
    --dark-grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --lighter-grayish-cyan: hsl(189, 41%, 97%);
}

* {
    font-family: "Space Mono";
    font-size: 24px;
    font-weight: 700;
    color: var(--darker-grayish-cyan);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light-grayish-cyan);
    margin: 0;
    min-height: 100vh;
}

.home-link {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 10px;
    left: 10px;
    text-decoration: none;
    padding: 10px;
}

.home-link:hover,
.home-link:active {
    border-radius: 8px;
    background-color: var(--dark-grayish-cyan);
}

.back-arrow {
    fill: var(--dark-cyan);
}

.home-link p {
    font-family: "Segoe UI", Verdana, sans-serif;
    margin: 2px 0 0 0;
    padding-left: 5px;
    font-size: 24px;
    color: var(--dark-cyan);
}

p {
    font-size: 18px;
    margin: 0;
    margin-bottom: 5px;
}

.logo {
    margin: 40px;
}

.card {
    display: flex;
    background-color: white;
    border-radius: 15px 15px 0 0;
    width: 100%;
    flex: 1;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    margin: 30px;
}

.user-field {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    margin-bottom: 30px;
}

.field-header {
    display: flex;
    justify-content: space-between;
}

.field-header .error {
    font-size: 16px;
    opacity: 0;
}

i {
    position: absolute;
    margin-left: 15px;
}

.text-box {
    background-color: var(--lighter-grayish-cyan);
    border: none;
    border-radius: 5px;
    text-align: right;
    color: var(--dark-cyan);
    width: 100%;
    padding-right: 15px;
    box-sizing: border-box;
}

.text-box:focus {
    border-color: blue;
}

.tip-buttons {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 50px);
    gap: 15px;
}

.tip-button {
    background-color: var(--dark-cyan);
    border: none;
    border-radius: 5px;
    color: white;
    font-family: "Space Mono";
    font-weight: 700;
    font-size: 24px;
}

#custom-tip {
    border: none;
    border-radius: 5px;
    color: var(--dark-cyan);
    background-color: var(--lighter-grayish-cyan);
    text-align: center;
    min-width: 120px;
}

#custom-tip::placeholder {
    color: var(--dark-cyan);
}

.tip-button:hover {
    background-color: var(--strong-cyan);
}

.tip-display {
    background-color: var(--dark-cyan);
    border-radius: 15px;
    height: min-content;
}

.tip-display-content {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 20px;
    padding: 20px;
    height: 100%;
}

.tip-display-content > * {
    margin-top: px;
}

.tip-display-content input {
    background-color: var(--strong-cyan);
    border: 0;
    border-radius: 5px;
    color: var(--dark-cyan);
}

.tip-calc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tip-calc h1 {
    color: white;
    margin: 0;
    font-size: 18px;
}

.tip-calc p {
    font-size: 14px;
}

.tip-calc .tip-amount {
    color: var(--strong-cyan);
    font-size: 30px;
    margin: 0;
}

.attribution a {
    font-size: 14px;
}

@media (max-width: 425px) {
}

@media (min-width: 1440px) {
    body {
        justify-content: center;
    }

    .logo {
        margin: 0 0 75px 0;
    }

    .user-field {
        margin: 0;
        margin-right: 50px;
        flex: 1;
    }

    .card-content {
        flex-direction: row;
        justify-content: space-between;
    }

    .tip-display {
        height: 100%;
        flex: 1;
    }

    #custom-tip {
        max-width: 138px;
    }

    .card {
        width: 1000px;
        height: 500px;
        flex: none;
        border-radius: 15px;
        box-shadow: 0 0 50px -20px var(--darker-grayish-cyan);
    }

    .tip-buttons {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(2, 50px);
        margin-top: 10px;
    }

    .tip-display-content {
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}
